body {
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*********************************************************
***************************NAV****************************
*********************************************************/
.menu {
  background-color: #f9f9ff;
}

.nav__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /*padding-bottom: 2px;*/
}

.nav__element {
  display: flex;
  flex-flow: column wrap;
}

.nav__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nav-list__button {
  display: block;
  padding: 0.25em 1em;
  color: #fff;
}

.nav-list__header {
  text-align: center;
  background: #26004d;
  color: #fff;
  font-size: 0.7em;
}

.nav-list__button:hover {
  color: #fff;
}

.nav-list__button--blue {
  background: #1a88ff;
  border-right: 1px solid #fff;
}

.nav__list li:last-child a.nav-list__button--blue {
  border-right: none;
}

.nav-list__button--blue:hover {
  background: #1a68ff;
}

.nav-list__button--blue.selected {
  filter: grayscale(70%);
}

.nav-list__button--purple {
  background: #76206d;
}

.nav-list__button--purple:hover {
  background: #96206d;
}

.nav-list__button--purple.selected {
  background: #c6708d;
}

.nav-list__button--orange {
  background: #d6a04d;
}

.nav-list__button--orange:hover {
  background: #f6a04d;
}

.nav-list__button--orange.selected {
  background: #c6701d;
}

.nav__row-filters {
  justify-content: space-evenly;
}

.nav__list-cost {
  text-align: center;
}

.nav__list-cost a {
  background-image: url("../images/mana.png");
  width: 25px;
  height: 27px;
  padding: 4px;
}

.nav__list-cost a.selected {
  filter: grayscale(70%);
}
/*********************************************************
*************************CONTENT**************************
*********************************************************/
.content {
  background-color: #f1edec;
  margin-bottom: 30px;
}

.menu-stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.menu-stats a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0.8em;
  background-color: #fff;
  font-size: 1.5rem;
  border: 2px solid #f1edec;

}

.menu-stats a:hover {
  background: #d1cdcc;
}

.menu-stats a > div {
  display: flex;
  /*flex-flow: column nowrap;*/
  justify-content: center;
  align-items: center;
  column-gap: 5px; /* TODO: no image gap */
}

/* TODO: Add class*/
.menu-stats a > div:first-child {
  background-color: #5af;
  border-radius: 5px;
  padding: 0px 15px;
  font-size: 0.9rem;
  color: #fff;
}

/* TODO: Larger images*/
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr)); /*150 212*/
  grid-auto-rows: 190px;
}

.card-container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TODO: REMOVE (Bootstrap leftover)*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*********************************************************
***************************MISC***************************
*********************************************************/
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;    
  background-color: #735348;
  margin-bottom: 25px;
  padding: 0 0 3px 0;
}

.title {
  font-size: 1.3rem;
  color: #ddd;
}

.version {
  margin-top: -7px;
  font-size: 0.8rem;
  color: #fa8a8a;
  text-align: center;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}